.containter{
	justify-content: center;
}
.titulos{
	
	font-weight: bold;
	font-size: 13px;
}
.preguntaPrincipal{
	font-style: normal;
	font-size: 11px;
}
.preguntaSecundaria{
	font-style: normal;
	font-size: 10px;
}
