.containter{
	justify-content: center;
}
.cabeceraTabla{
	font-size: 10px;
}
.cabeceraTablaLarga{
	font-size: 8px;
}
.contenidoTablaLarga{
	font-size: 8px;
}

.titulos{
	
	font-weight: bold;
	font-size: 13px;
}
.preguntaPrincipal{
	font-style: normal;
	font-size: 11px;
	color:#0063FA;
}
.preguntaSecundaria{
	font-style: normal;
	font-size: 10px;
	color:#5986CB;
}
.importante{
	font-style: normal;
	font-size: 10px;
	color:red;
}
.fondoColorSigma{
	background: #00AAC3;
	color: #fff;
	
}
.etiquetaFormulario{
	display: block;
	background: #00AAC3;
	color: #FFFFFF;
	font-size:12px !important;
	text-align:right;
}
.etiquetaTituloSalvaguarda{
	font-size:16px !important;
	text-align: left;
	font-weight: bold;
}
.pregunta{
	font-size:13px !important;
	text-align: left;
	font-weight: bold;
	font-family: sans-serif;
}

.etiquetaTitulo{
	display: block;
	background: #00AAC3;
	color: #FFFFFF;
	font-size:13px !important;
	text-align: justify;
}
.etiquetaSubCategoria{
	display: block;
	background: #00AAC3;
	color: #FFFFFF;
	font-size:15px !important;
	font-weight: bold;
	text-align: left;
}

.sinBordesAncho100 tbody td{
	border:none;
	table-layout: auto;		
}


.etiquetaSubtitulo{
	font-weight:bold;
	font-size:13px !important;
}

.botonRegistroProyecto{
	width: 150px !important;
	height: 50px !important;
	font-size: 14px !important;
}
.botonAgregaRegistro{
	width: 112px !important;
	float:right;	
}

.estiloMenuItemSeccionActual{
	color:#ffffff !important;
	background: #00AAC3 !important;	
}

.ui-button {
	background-color: #00b9f5!important;
}


.ui-state-highlight {
	background-color: #00b9f5!important;
}
.ui-state-active {
	background-color: #00b9f5!important;
}


.ui-selectonemenu-label{
     width: 100% !important;
}  
.fondoSigma{
	background: #00AAC3;
}
.anchoColumnas{
	table-layout: auto;
}
.ui-datatable-scrollable-header-box table th, .ui-datatable-scrollable-footer-box table th, .ui-datatable-scrollable-body table td{
   width: 20% !important;     
}
.datosProyecto{
	font-size: 16px;
	font-weight: bold;
	text-align: left;	
}
.singleLine 
{ 
    text-wrap: none; 
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis; 
} 
.anchonumeros{
	width:20px;
}
.estiloHeaderCampoTabla{
	font-weight: bold;
}
.etiqueta{	
	text-align: left;
	font-weight: bold;
}
.ui-growl {
	width: 350px !important;
}

.ui-growl-message {
	width: 220px !important;
}