.ui-widget-header {
	color: inherit;
}

.ui-growl {
	width: 601px !important;
}

.ui-growl-message {
	width: 520px !important;
}

.ui-tabs .ui-tabs-nav li {
    background: #00ABC2;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    background: #707478;
}

.ui-inputfield {
	padding: 4px 0 4px 0 !important;
	text-indent: 4px;
}

.ui-widget-header .ui-button {
	background: #FFFFFF !important;
	border: #FFFFFF !important;
}

.ui-widget-header .ui-button .ui-icon, .ui-button.normal .ui-icon {
	background-image: url("../javax.faces.resource/images/ui-icons_222222_256x240.png.xhtml?ln=primefaces-suia");
}

.ui-widget-header .ui-button:hover {
	background: #008A8A !important;
	border: #008A8A !important;
}

.ui-widget-header .ui-button:hover .ui-icon, .ui-sortable-column-icon.ui-icon {
	background-image: url("../javax.faces.resource/images/ui-icons_222222_256x240.png.xhtml?ln=primefaces-suia");
}

.ui-selectlistbox-filter-container {
	margin-right: 10px !important;
	margin-bottom: 5px !important;
}

.ui-selectlistbox-listcontainer {
	border-top: 1px solid #AAAAAA;
	padding-top: 5px;
}

.ui-selectlistbox-listcontainer .ui-chkbox {
	margin-right: 10px;
}

.ui-button.primary:hover {	
	border: 1px solid #707478;
}

.ui-button.secondary:hover {	
	border: 1px solid #00ABC2;
}

.buttons .ui-button {	
	margin-left:7px;
}

.buttons .ui-button, .ui-button.primary{
	background: #00ABC2;
	border: 1px solid #00ABC2;	
	color: #FFFFFF;
	font-weight:bold;
}

.buttons .ui-button.secondary, .ui-button.secondary {
	background: #707478;
	border: 1px solid #707478;	
	color: #FFFFFF;
	font-weight:bold;
}

.buttons.main .ui-button {
	background: #28B9F8;
	border: #28B9F8;
	width: 125px;
	height: 40px;
	font-weight: bold;
	color: #FFFFFF;
}

.buttons.main .ui-button.large {
	width: 150px;
}

.buttons.main .ui-button.extraLarge {
	width: 200px;
}

.buttons.main .ui-button.extraLargePlus {
	width: 250px;
}

.buttons.main .ui-button:hover {	
	border: 2px solid #006A77;	
}

.buttons.main .ui-button.secondary {	
	background: #006A77;
	border: #006A77;
}

.buttons.main .ui-button.secondary:hover {	
	border: 2px solid #28B9F8;		
}

.ui-button.large {	
	width: 150px;	
}

.ui-button.extraLarge {	
	width: 200px;	
}

.ui-button  .ui-icon {
    /*background-image: url("../javax.faces.resource/images/ui-icons_222222_256x240.png.xhtml?ln=primefaces-suia");*/
    background-image: url("../javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-suia");
}


.ui-state-disabled-read-only,.ui-state-disabled-read-only .ui-state-disabled
	{
	background-image: inherit !important;
	opacity: 1 !important;
	background: #fef;
}

.ui-panelgrid .ui-panelgrid-header {
	text-align: left !important;
}

.w100.ui-selectonemenu {
	width: 100% !important;
}

.w100.ui-selectonemenu-label,.w100 .ui-selectonemenu-label {
	width: 100% !important;
}

.w100 .ui-inputfield {
	width: 100% !important;
}

.w100.ui-tree {
	width: 100% !important;
}

.w100 .cke_skin_kama {
	width: 100% !important;
	padding: 0;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 12px !important;
}

.ui-dialog .ui-widget-header .ui-icon {
	background-image:
		url("../javax.faces.resource/images/ui-icons_222222_256x240.png.xhtml?ln=primefaces-suia");
}

.ui-widget-content {
	background: rgba(255, 255, 255, 0.85);
	border: 1px solid #aaaaaa;
	color: #222222;
}

.bordercontainer .ui-widget-content {
	background: rgba(255, 255, 255, 0.1);
}

.bordercontainer .ui-dialog.ui-widget-content, .ui-dialog.ui-widget-content, .ui-menu-list.ui-widget-content,.ui-overlaypanel.ui-widget-content,.ui-datepicker.ui-widget-content,.ui-tooltip.ui-widget-content
	{
	background: rgba(255, 255, 255, 1);
}

.ui-widget-overlay {
	/* background: #2b2922
		url("/pago-linea-ws-web/javax.faces.resource/images/ui-bg_inset-soft_15_2b2922_1x100.png.xhtml?ln=primefaces-suia")
		50% bottom repeat-x; */
	opacity: .4;
}

.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled
	{
	background-image: none;
	opacity: 1;
}

button.ui-state-disabled,.ui-widget-content button.ui-state-disabled,.ui-widget-header button.ui-state-disabled
	{
	background-image: none;
	opacity: 0.5;
}

.ui-tree .ui-treenode-label.ui-state-hover,.ui-tree .ui-treenode-label.ui-state-highlight
	{
	border: 0 none;
	font-weight: bold !important;
}

.h200px,.h200px .child-class {
	text-align: left;
	height: 200px
}

.h200px .child-class,.h200px .ui-tree-container {
	height: 190px
}

.ui-widget-header {
	border-top: 4px solid #008a8a !important;
}

.ui-panelgrid-header {
	background: #008A8A !important;
	color: #FFFFFF !important;
	font-weight: bold;
	padding-top: 0 !important;
}

.ui-panelgrid-content {
	padding: 10px !important;
}

.ui-datatable tbody td {
	background: #f5f5f5;
}

.ui-datatable th {
	color: #FFFFFF !important;
}

label, .text-label {
	color: #2A7D9B;
}

.ui-selectonemenu-label {
	color: #000000;
}

.ui-datatable th:nth-child(even) {
	background: #008A8A;
}

.ui-datatable th:nth-child(odd) {
	background: #00AAC3;
}

.ui-datatable .table-column-header:nth-child(even) {
	background: #008A8A;
	color: #FFFFFF
}

.ui-datatable .table-column-header:nth-child(odd) {
	background: #00AAC3;
	color: #FFFFFF
}

.ui-state-highlight td/pago-linea-ws-web {
	background: #008A8A !important;
	color: #FFFFFF !important;
}

.ui-state-hover td {
	background: #008A8A !important;
	color: #FFFFFF !important;
}

.cke_skin_kama .cke_wrapper {   
	background-color: #00AAC3 !important;
    background-image: none !important;
    background-position: 0 -1950px;
    background-repeat: repeat-x;
    border-radius: 0 !important;
    display: block;
    padding: 5px;
}

.cke_skin_kama .cke_toolgroup {
    background-image: none !important;
    background-position: 0 -500px;
    background-repeat: repeat-x;
    border-radius: 0 !important;
    display: inline;
    float: left;
    margin-bottom: 5px;
    margin-right: 6px;
    padding: 2px;
}
.ui-datatable-empty-message{
	color:red;
}

.center
{
	text-align: center;
}

.ui-datatable-data label{
	color:black;
}

.ui-widget-content.tr_display{
	background-color: #F3F3F3;
}

.ui-datepicker-trigger.ui-button {
    background-color: #28B9F8;
}

bg-evaluacion-valor-0{
	background-color: #BDBDBD !important;
}

.bg-evaluacion-valor-20{
	background-color: #FF0000 !important;
}

.bg-evaluacion-valor-40{
	background-color: #FF8000 !important;
}

.bg-evaluacion-valor-60{
	background-color: #FFFF00 !important;
}

.bg-evaluacion-valor-80{
	background-color: #BFFF00 !important;
}

.bg-evaluacion-valor-100{
	background-color: #80FF00 !important;
}

.ui-spinner-input{
	text-align: center !important;
}

.ui-spinner-button {
    background-color: #00ABC2 !important;
    margin: 0px -12px !important;
}